/*
Theme Name: Essai
Theme URI: https://www.monsite.com/monsite
Author: [renseignez ici votre nom]
Author URI: https://www.monsite.com/monsite
Description: [décrivez ici votre thème en quelques mots]
Version: 1.0
*/

body {
  font-family: "Source Sans Pro";
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: url("https://cdn.futura-sciences.com/buildsv6/images/wide1920/c/9/7/c97a6aab26_50174055_forets-tropicales-disparition.jpg");
}

li {
  list-style-type: none;
}

.ul {
  display: flex;
  padding: 0px;
}

.img {
  width: 100%;
  height: 70%;
}

.singlecard {
  background: rgb(166, 231, 140);
  width: 90%;
  height: auto;
  padding: 20px;
  display: flex;
  line-height: 25px;
  box-shadow: 0 0 8px 8px white inset;
}

.droite {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  height: 100%;
}

p {
  font-size: 20px;
  color: black;
}

.left {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}
h1 {
  text-align: center;
  color: white;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: rgb(1, 10, 1);
}

.titre {
  font-style: italic;
  text-decoration: underline;
}
.retour {
  padding: 6px;
  border-radius: 15px;
  margin-top: 10px;
  color: rgb(48, 105, 48);
  background: white;
  position: absolute;
  margin-left: 20px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background: white;
  box-shadow: 0 0 8px 8px white inset;
}

header,
footer {
  height: 15vh;
  background: rgb(48, 105, 48);
  box-shadow: 0 0 8px 8px white inset;
  width: 100%;
}
.footer {
  padding: 20px;
  text-align: center;
}
.az-letters-wrap {
  display: none !important;
}

span {
  padding-left: 3px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.items-inner {
  color: white;
  width: 100%;

  column-count: 2;
  background: rgba(48, 105, 48, 0.719);
}
.az-listing {
  width: 90%;
}

.letter-title {
  background: rgba(4, 15, 5, 0.397);
  margin-bottom: 10px !important;
}
.monindex {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70vh;
}

.letter-section {
  margin-top: -20px !important;
}
a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 2px;
  font-weight: bolder;
}

a:hover {
  color: yellow;
}

.sommaire {
  font-size: 30px !important;
}

.nourriture {
  background: rgba(48, 105, 48, 0.719);
  padding: 10px;
  margin: 15px;
  border-radius: 15px;
}

.animal {
  text-align: left;
  font-weight: bold;
  font-style: oblique;
  color: rgb(1, 10, 1);
  font-size: 40px;
}

.back-to-top a {
  display: none;
}

@media (max-width: 800px) {
  .singlecard {
    flex-direction: column;
    line-height: 15px;
    width: 100%;
  }

  .left,
  .droite {
    width: 90%;
  }

  .droite {
    padding-left: 10px;
  }
  a {
    font-size: 15px;
  }

  p {
    font-size: 15px;
    color: black;
  }
  .items-inner {
    padding-left: 0px;
    padding-right: 0px;
  }

  .retour {
    padding: 2px;
    margin-top: 8px;
    margin-left: 8px;
  }
}
